// ------------------------------------------------------------------------- //
// TYPOGRAPHY
//
// TABLE OF CONTENTS
// 00 MIXINS
// 01 BODY
// 02 FONT
// 02 HEADINGS
// 04 TEXT
// ------------------------------------------------------------------------- //

// ------------------------------------------------------------------------- //
// 00 VARIABLES
// ------------------------------------------------------------------------- //
$copy-size-large: 48px;
$copy-size-default: 24px;
$copy-size-small: 12px;

$line-height-default: 1.333;
$line-height-small: 1.083;
// ------------------------------------------------------------------------- //
// 00 MIXINS
// ------------------------------------------------------------------------- //

// FONT FACE
@mixin font-face($font, $src, $style, $weight) {
    @font-face {
        font-family: $font;
        src: url('#{$src}.eot'); // IE9 compat
        src: url('#{$src}.ttf') format('truetype'),
            url('#{$src}.svg##{$font}') format('svg'); // legacy iOS
        font-style: $style;
        font-weight: $weight;
    }
}

%copy-size {
    font-size: $copy-size-default;
    line-height: $line-height-default;
    letter-spacing: -0.4px;
}

// ------------------------------------------------------------------------- //
// 01 BODY
// ------------------------------------------------------------------------- //
body {
    @extend %copy-size;
    font-family: $font-primary-light;
    color: $copy-color-primary;
}

// ------------------------------------------------------------------------- //
// 02 FONT
// ------------------------------------------------------------------------- //
@include font-face(
    'grotesk-regular',
    '#{$get-path-to-font}/SpaceGroteskRegular',
    normal,
    normal
);
@include font-face(
    'grotesk-light',
    '#{$get-path-to-font}/SpaceGroteskLight',
    normal,
    normal
);

// ------------------------------------------------------------------------- //
// 03 HEADINGS
// ------------------------------------------------------------------------- //
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: $font-primary-regular;
    font-size: em(48);
    font-weight: normal;
    line-height: $line-height-small;
    letter-spacing: -1px;

    @include for-size(tablet-portrait-low) {
        font-size: em(36);
        line-height: 1.1;
    }
}

// ------------------------------------------------------------------------- //
// 04 TEXT
// ------------------------------------------------------------------------- //
.text-small {
    font-size: $copy-size-small;
    letter-spacing: -0.3px;
}
