// ------------------------------------------------------------------------- //
// MAIN PAGE STYLES
//
// TABLE OF CONTENTS
//
// 00 VARIABLES
// 01 HEADER
// 02 HOW
// ------------------------------------------------------------------------- //
@import 'core/_imports';
@import 'components/player';

// ------------------------------------------------------------------------- //
// 00 VARIABLES
// ------------------------------------------------------------------------- //
$control-btn-size: 96px;
$control-btn-size-sm: 64px;

$btn-color-bg: #f8d231;
$info-color-warning: #c6a827;

$diagram-input-size: 92px;
$diagram-input-color: #f8d231;
$diagram-connection-color: #919e9f;

$diagram-output-item-size: 112px;
$diagram-output-item-size-sm: 60px;
$diagram-output-item-color: #323033;

$list-definition-border-color: rgba(207, 211, 214, 0.1);

// ------------------------------------------------------------------------- //
// 01 HEADER
// ------------------------------------------------------------------------- //
.header {
    padding: 40px 0;

    @include for-size(phone-low) {
        padding: 20px 0;
    }
}

.header-inner {
    display: flex;

    .header-legend {
        width: 492px;

        h1 {
            color: $copy-color-accent;
        }
    }

    .legend-description {
        &.mobile {
            display: none;
        }

        .text-small {
            margin: 182px 0 0;

            .terms-link {
                font-family: $font-primary-regular;
                text-decoration: none;
                color: $copy-color-primary;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .header-form {
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        justify-content: center;

        .app-container {
            width: 620px;
        }

        .input-form {
            label {
                display: block;
                margin: 0 0 20px;
            }

            .control-accessory {
                position: relative;
                display: flex;

                input {
                    @extend %copy-size;
                    flex: 1 1 auto;
                    padding: 32px 45px 32px 16px;
                    width: 100%;
                    border: none;
                    font-family: $font-primary-regular;
                    color: $copy-color-primary;
                    box-sizing: border-box;
                    text-overflow: ellipsis;

                    &::placeholder {
                        color: $copy-color-mute;
                    }
                }

                .btn-control {
                    flex: 0 0 auto;
                    height: $control-btn-size;
                    width: $control-btn-size;
                    background: $btn-color-bg;
                    border: none;
                    cursor: pointer;
                }

                .message-error {
                    display: none;
                    color: $info-color-warning;
                    width: 100%;
                }

                .control-icon-warning {
                    position: absolute;
                    display: none;
                    top: 50%;
                    right: $control-btn-size + 16px;
                    transform: translateY(-50%);
                }

                &.error {
                    .message-error,
                    .control-icon-warning {
                        display: block;
                    }

                    .message-error {
                        position: absolute;
                        bottom: -24px;
                    }
                }
            }
        }
    }

    @include for-size(tablet-landscape-low) {
        .header-form {
            .app-container {
                width: 420px;
            }
        }
    }

    @include for-size(tablet-portrait-low) {
        flex-wrap: wrap;

        .header-legend {
            margin: 0 0 40px;
            width: 100%;

            .text-small {
                margin: 0;
            }
        }

        .header-form {
            margin: 0 0 40px;
            justify-content: flex-start;
        }

        .legend-description {
            display: none;

            &.mobile {
                display: block;

                .text-small {
                    margin-top: 12px;
                }
            }
        }

        .header-form {
            padding: 0;
            width: 100%;
        }
    }

    @include for-size(phone-low) {
        .header-form {
            .input-form {
                max-width: 100%;

                .control-accessory {
                    input {
                        padding: 16px;
                        width: 100%;
                    }

                    .btn-control {
                        height: $control-btn-size-sm;
                        width: $control-btn-size-sm;
                    }

                    .control-icon-warning {
                        right: $control-btn-size-sm + 16px;
                    }

                    &.error {
                        .message-error,
                        .control-icon-warning {
                            display: block;
                        }

                        .message-error {
                            position: absolute;
                            bottom: -24px;
                        }
                    }
                }
            }
        }
    }
}

// ------------------------------------------------------------------------- //
// 02 SECTION HOW
// ------------------------------------------------------------------------- //
.section-how {
    padding: 120px 0;
    color: $copy-color-primary-inverse;
    background-color: $app-background-color-inverse;

    @include for-size(phone-low) {
        padding: 40px 0;
    }
}

.section-inner {
    margin: 0 0 120px;

    &:last-child {
        margin-bottom: 0;
    }

    &.how {
        display: flex;
        gap: 36px;
    }

    &.requirements {
        .copy {
            color: $copy-color-primary-inverse;
        }
        .tabs-wrapper {
            margin: 40px 0 0 0;
        }
    }

    @include for-size(tablet-portrait-low) {
        &.how {
            flex-wrap: wrap;

            .legend,
            .diagram {
                width: 100%;
            }
        }
    }

    @include for-size(phone-low) {
        .diagram {
            .diagram-connections {
                .connections-forked {
                    margin: $diagram-output-item-size-sm/2 0;
                    width: 58px;
                }
            }

            .diagram-input,
            .output-item {
                width: $diagram-output-item-size-sm;
                height: $diagram-output-item-size-sm;
            }

            .output-item {
                &.top svg {
                    width: 46px;
                    height: 28px;
                }

                &.bottom svg {
                    width: 45px;
                    height: 30px;
                }
            }
        }
    }
}

.section-title {
    margin: 0 0 40px;
    color: $copy-color-accent-inverse;
}

.legend,
.diagram {
    width: 50%;
}

// DIAGRAM
.diagram {
    display: flex;
    flex: 1 1 auto;
    align-items: stretch;
    width: 600px;

    .diagram-input {
        flex: 0 0 auto;
        align-self: center;
        width: $diagram-input-size;
        height: $diagram-input-size;
        background-color: $diagram-input-color;
    }

    .diagram-connections {
        display: flex;
        flex: 1 1 auto;
        align-items: stretch;

        .connection-shared {
            display: flex;
            flex: 1 1 auto;
            align-self: center;
            border-bottom: 1px dashed $diagram-connection-color;
        }

        .connections-forked {
            position: relative;
            display: flex;
            flex-direction: column;
            flex: 0 0 auto;
            margin: $diagram-input-size/2 0;
            width: 147px;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                height: 100%;
                border-left: 1px dashed $diagram-connection-color;
            }

            .connection {
                width: 100%;
                border-bottom: 1px dashed $diagram-connection-color;

                &.bottom {
                    margin: auto 0 0;
                }
            }
        }
    }

    .diagram-output {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 36px;
    }

    .output-item {
        position: relative;
        width: $diagram-output-item-size;
        height: $diagram-output-item-size;
        background-color: $diagram-output-item-color;

        svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

// TABS
.tabs-wrapper {
    .tabs-header ul {
        display: flex;
        margin: 0 0 44px;

        li {
            display: inline-flex;
            align-items: flex-end;
            flex: 1 1 0;
            margin: 0 16px 0 0;
            color: $copy-color-mute-inverse;
            opacity: 0.4;
            cursor: pointer;

            &.active {
                color: $copy-color-accent-inverse;
                opacity: 1;
                border-bottom: 1px solid $copy-color-accent-inverse;
                cursor: default;
            }
        }
    }

    .tabs-body {
        display: none;

        &.active {
            display: block;
        }
    }
}

// LIST DEFINITION
.list-definition {
    columns: 2;
    column-gap: 56px;
    font-family: $font-primary-light;

    .list-definition-item {
        padding: 12px 0;
        border-bottom: 1px solid $list-definition-border-color;

        dl {
            display: flex;
            flex-wrap: wrap;
            margin: 0 0 -10px;
            font-family: $font-primary-light;

            dt,
            dd {
                margin: 0 0 10px;
            }

            dt {
                min-width: 250px;
                flex: 0 1 auto;
            }

            dd {
                flex: 1 0 auto;
            }
        }
    }

    @include for-size(tablet-portrait-low) {
        columns: 1;
    }

    @include for-size(phone-low) {
        .list-definition-item {
            dl {
                dt,
                dd {
                    width: 100%;
                }
            }
        }
    }
}
